<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Application</title>
</head>
<body>
<h1>Give Team Names</h1>
<div class="container">
    <hr/>

    <form th:action="@{/teams}" th:object="${form}" method="POST">

        <input type="text" th:field="*{team1}" class="form-control col-4 mb-4" placeholder="Enter team1 name" />

        <input type="text" th:field="*{team2}" class="form-control col-4 mb-4" placeholder="Enter team2 name" />

        <button type="submit" class="btn btn-primary col-2">Submit</button>
    </form>
</div>
</body>
</html>