<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Application</title>
</head>
<body>
<h1>Give Team Names</h1>
<div class="container">
    <hr/>

    <form th:action="@{/add_player}"  method="POST">

        <input type="text" th:field="*{player.name}" class="form-control col-4 mb-4" placeholder="Enter Player name" />
        <input type="text" th:field="*{player.playerType}" class="form-control col-4 mb-4" placeholder="Enter Player Type" />
        <input type="text" th:field="*{team.teamName}" class="form-control col-4 mb-4" placeholder="Enter Team Name" />

        <button type="submit" class="btn btn-primary col-2">Submit</button>
    </form>
</div>
</body>
</html>