<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Scoreboard</title>
</head>

<body>

<div class="container">

    <h3>Scoreboard</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Team Name</th>
            <th>Team Runs</th>
            <th>Wickets Loss</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="scoreboard: ${scoreboard}">
            <td th:text="${firstInningTeam.teamName}" />
            <td th:text="${scoreboard.firstInningTotalRuns}" />
            <td th:text="${scoreboard.firstInningWicketsLoss}" />
        </tr>
        </tbody>
        <tbody>
        <tr th:each="scoreboard: ${scoreboard}">
            <td th:text="${secondInningTeam.teamName}" />
            <td th:text="${scoreboard.secondInningTotalRuns}" />
            <td th:text="${scoreboard.secondInningWicketsLoss}" />
        </tr>
        </tbody>

    </table>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Player Name</th>
            <th>Runs Scored</th>
            <th>Balls Played</th>
            <th>Runs Given</th>
            <th>Balls Thrown</th>
            <th>Wickets Taken</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stats: ${playerStats}">
            <td th:text="${stats.playerName}" />
            <td th:text="${stats.runsScored}" />
            <td th:text="${stats.ballsPlayed}" />
            <td th:text="${stats.runsGiven}" />
            <td th:text="${stats.ballsThrown}" />
            <td th:text="${stats.wicketsTaken}" />
        </tr>
        </tbody>
    </table>
</div>


</body>

</html>